In [1]:
import random
import pandas as pd
import numpy as np
from scipy import stats
import math

1. Найти медиану, выборочное среднее, выборочную дисперсию.

In [30]:
n = 100
X = [random.gauss(0, math.sqrt(2)) for _ in range(n)]
mean = stats.tmean(X)        # Выборочное среднее
median = stats.tmean(X)  # Медиана
variance = stats.tvar(X)  # Выборочная дисперсия 
print("Результаты для выборки из N(0, 2):")
print(f"Размер выборки: {n}")
print(f"Выборочное среднее: {mean}")
print(f"Медиана: {median}")
print(f"Выборочная дисперсия: {variance}")

Результаты для выборки из N(0, 2):
Размер выборки: 100
Выборочное среднее: 0.09113955196858463
Медиана: 0.09113955196858463
Выборочная дисперсия: 2.13217851760872

Найти mean sin X

In [ ]:
n = 100
X = np.array([random.gauss(0, math.sqrt(2)) for _ in range(n)])
sin_X = np.sin(X)
mean_sinX = np.mean(sin_X)
print(f"Выборочное среднее sinX: {mean_sinX}")
#[sin(x) for x in X]

Выборочное среднее sinX: 0.03341461738147884

Извлечь из этой выборки новую выборку, содержащую только положительные значения.

In [59]:
import numpy as np
n = 100
X = np.random.normal(0, np.sqrt(2), n)
positive_X = X[X>0]
print(f"Положительная значения: {positive_X}")

Положительная значения: [0.03700085 3.14122555 2.01320682 0.3932783  1.5087362  0.96154366
 2.13620772 2.13904015 1.23046307 0.80714956 0.84943053 1.58014444
 1.04173279 0.60839184 0.14577933 0.01569222 1.27877718 2.07645668
 1.20277206 0.43984244 2.13092628 0.32665142 1.19458411 1.74122346
 0.76406297 0.73708459 0.6214132  0.50490006 0.54100604 0.55493481
 0.50287439 0.02075409 0.54483743 0.58373544 0.66987291 0.71949923
 3.00383876 0.23075847 0.63904591 0.11148425 0.26102719 0.58269245
 1.17511598 3.44163914 0.49831701 0.96535808 1.63965903 0.06020812
 1.02968188]

Пусть Sk = X1 + · · · + Xk. Найти минимальное k такое, что Sk > 3. Если такого нет, вывести n + 1.

In [42]:
n = 100
X = np.random.normal(0, np.sqrt(2), n)
current_sum = 0
min_k = n + 1  #по дефолту
for k in range(n):
    current_sum += X[k]
    if current_sum > 3:
        min_k = k + 1  
        break
print(f"Минимальное k такое, что Sk > 3: {min_k}")

Минимальное k такое, что Sk > 3: 6

Дз 2
1.1. Вывести число строк и число столбцов датасета

In [3]:
df = pd.read_csv('Priem.csv', sep=';', encoding='cp1251')
print(f"Число строк: {df.shape[0]}, Число столбцов: {df.shape[1]}")

Число строк: 1390, Число столбцов: 12

1.2. Название третьего столбца

In [9]:
print(df.columns[2])

ЕГЭ...матем.

1.3. Вывести пятую строку

In [14]:
print(df[3:4])

       Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
3  ЖЕНСКИЙ           338          76.0           88.0

   Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка    Регион  \
3                           5           0                 2  Москва г

             Тип.насел..пункта Дата.рождения  День.рождения  Месяц.рождения  \
3  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    19.11.1999             19              11

  Баллы_категория Диапазон_баллов  Средний_балл
3           70-80           70-80          82.0

1.4. Вывести первые 5 строк

In [24]:
print(df.head())

       Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
0  МУЖСКОЙ           388          90.0           98.0
1  ЖЕНСКИЙ           351          84.0           87.0
2  ЖЕНСКИЙ           355          94.0           91.0
3  ЖЕНСКИЙ           338          76.0           88.0
4  МУЖСКОЙ           349          82.0           93.0

   Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка  \
0                           5           0                 1
1                           0           0                 2
2                           5           0                 2
3                           5           0                 2
4                           5           0                 2

              Регион            Тип.насел..пункта Дата.рождения  \
0  Красноярский край                        ГОРОД    24.09.1998
1     Чувашская Респ     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    14.02.1997
2           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    25.03.2000
3           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    19.11.1999
4           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    12.12.1999

   День.рождения  Месяц.рождения
0             24               9
1             14               2
2             25               3
3             19              11
4             12              12

1.5. Вывести балл ЕГЭ по математике у седьмого абитуриента

In [16]:
print(df['ЕГЭ...матем.'][6])

90.0

1.6. Создать новый датасет, содержащий только абитуриентов с баллом ЕГЭ по математике больше 98.

In [5]:
high_math_df = df[df['ЕГЭ...матем.'] > 98]
print(high_math_df)

          Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
20    МУЖСКОЙ           375         100.0           93.0
30    МУЖСКОЙ           386          99.0           86.0
36    МУЖСКОЙ           357          99.0           91.0
37    МУЖСКОЙ           393         100.0           96.0
40    МУЖСКОЙ           393         100.0           93.0
...       ...           ...           ...            ...
1279  МУЖСКОЙ           384         100.0           83.0
1330  ЖЕНСКИЙ           395         100.0           88.0
1385  МУЖСКОЙ           396         100.0           98.0
1387  МУЖСКОЙ           397         100.0           93.0
1389  МУЖСКОЙ           404         100.0           96.0

      Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка  \
20                             5           0                 2
30                             0           0                 1
36                             0           0                 2
37                             0           0                 1
40                             0           0                 2
...                          ...         ...               ...
1279                           5           0                 2
1330                           5           0                 2
1385                           0           0                 2
1387                           5           0                 1
1389                           5           0                 3

                  Регион                Тип.насел..пункта Дата.рождения  \
20              Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    05.08.1999
30              Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    30.05.2000
36              Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    21.12.1999
37              Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    15.02.2000
40              Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    23.08.1999
...                  ...                              ...           ...
1279     Приморский край         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    22.06.1999
1330  Забайкальский край  НАСЕЛЕННЫЙ ПУНКТ СЕЛЬСКОГО ТИПА    29.01.2000
1385     Челябинская обл         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    17.07.1999
1387       Дагестан Респ         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    30.08.1999
1389     Челябинская обл         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    28.02.2000

      День.рождения  Месяц.рождения
20                5               8
30               30               5
36               21              12
37               15               2
40               23               8
...             ...             ...
1279             22               6
1330             29               1
1385             17               7
1387             30               8
1389             28               2

[70 rows x 12 columns]

2.1. Вывести строки с седьмой по двадцатую

In [23]:
print(df.loc[6:19])

        Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
6   МУЖСКОЙ           383          90.0           98.0
7   ЖЕНСКИЙ           364          80.0           86.0
8   МУЖСКОЙ           368          84.0           93.0
9   ЖЕНСКИЙ           373          86.0           83.0
10  ЖЕНСКИЙ           399          96.0          100.0
11  МУЖСКОЙ           359          86.0           91.0
12  ЖЕНСКИЙ           364          86.0           86.0
13  МУЖСКОЙ           363          96.0           72.0
14  ЖЕНСКИЙ           376          96.0           93.0
15  ЖЕНСКИЙ           373          98.0           83.0
16  МУЖСКОЙ           388          96.0           98.0
17  ЖЕНСКИЙ           335          90.0           96.0
18  МУЖСКОЙ           378          90.0           91.0
19  ЖЕНСКИЙ           364          94.0          100.0

    Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка  \
6                            5           0                 1
7                            0           0                 2
8                            0           0                 2
9                            5           0                 3
10                           5           0                 2
11                           0           0                 0
12                           0           0                 0
13                           0           0                 1
14                           0           0                 2
15                           5           0                 2
16                           0           0                 0
17                           0           0                 2
18                           0           0                 1
19                           5           0                 3

                  Регион            Тип.насел..пункта Дата.рождения  \
6       Владимирская обл     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    23.12.1998
7      Санкт-Петербург г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    22.12.1998
8       Владимирская обл                        ГОРОД    13.06.1999
9          Иркутская обл                        ГОРОД    23.04.1999
10              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    13.11.1999
11  Ханты-Мансийский  АО                        ГОРОД    21.05.1999
12              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    24.08.1999
13              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    30.07.1999
14              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    11.04.2000
15              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    07.05.2000
16              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    15.02.2000
17        Московская обл  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    12.06.1999
18              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    31.01.2000
19              Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    10.04.1999

    День.рождения  Месяц.рождения
6              23              12
7              22              12
8              13               6
9              23               4
10             13              11
11             21               5
12             24               8
13             30               7
14             11               4
15              7               5
16             15               2
17             12               6
18             31               1
19             10               4

2.2. Вывести только баллы ЕГЭ по русскому и математике для первых 20 человек

In [7]:
print(df[['ЕГЭ...рус.яз.', 'ЕГЭ...матем.']].head(20))

    ЕГЭ...рус.яз.  ЕГЭ...матем.
0            98.0          90.0
1            87.0          84.0
2            91.0          94.0
3            88.0          76.0
4            93.0          82.0
5            72.0          98.0
6            98.0          90.0
7            86.0          80.0
8            93.0          84.0
9            83.0          86.0
10          100.0          96.0
11           91.0          86.0
12           86.0          86.0
13           72.0          96.0
14           93.0          96.0
15           83.0          98.0
16           98.0          96.0
17           96.0          90.0
18           91.0          90.0
19          100.0          94.0

2.3. Добавить к датасету столбец, в котором стоит "да" , если балл ЕГЭ по математике больше балла
по русскому и "нет" иначе (можно true, false)

In [8]:
df['math_higher'] = "нет"
df.loc[df['ЕГЭ...матем.'] > df['ЕГЭ...рус.яз.'], 'math_higher'] = "да"
print(df.head(10))

       Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
0  МУЖСКОЙ           388          90.0           98.0
1  ЖЕНСКИЙ           351          84.0           87.0
2  ЖЕНСКИЙ           355          94.0           91.0
3  ЖЕНСКИЙ           338          76.0           88.0
4  МУЖСКОЙ           349          82.0           93.0
5  МУЖСКОЙ           366          98.0           72.0
6  МУЖСКОЙ           383          90.0           98.0
7  ЖЕНСКИЙ           364          80.0           86.0
8  МУЖСКОЙ           368          84.0           93.0
9  ЖЕНСКИЙ           373          86.0           83.0

   Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка  \
0                           5           0                 1
1                           0           0                 2
2                           5           0                 2
3                           5           0                 2
4                           5           0                 2
5                           0           0                 2
6                           5           0                 1
7                           0           0                 2
8                           0           0                 2
9                           5           0                 3

              Регион            Тип.насел..пункта Дата.рождения  \
0  Красноярский край                        ГОРОД    24.09.1998
1     Чувашская Респ     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    14.02.1997
2           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    25.03.2000
3           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    19.11.1999
4           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    12.12.1999
5    Ульяновская обл     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    05.02.1999
6   Владимирская обл     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    23.12.1998
7  Санкт-Петербург г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    22.12.1998
8   Владимирская обл                        ГОРОД    13.06.1999
9      Иркутская обл                        ГОРОД    23.04.1999

   День.рождения  Месяц.рождения math_higher
0             24               9         нет
1             14               2         нет
2             25               3          да
3             19              11         нет
4             12              12         нет
5              5               2          да
6             23              12         нет
7             22              12         нет
8             13               6         нет
9             23               4          да

2.4. Создать новый датасет, содержащий только абитуриентов со средним баллом больше 95.

In [8]:
df['Средний_балл'] = df[['ЕГЭ...матем.', 'ЕГЭ...рус.яз.']].mean(axis=1)
high_df = df[df['Средний_балл'] > 95]
print(high_df)
print(df.head(5))

          Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
10    ЖЕНСКИЙ           399          96.0          100.0
16    МУЖСКОЙ           388          96.0           98.0
19    ЖЕНСКИЙ           364          94.0          100.0
20    МУЖСКОЙ           375         100.0           93.0
37    МУЖСКОЙ           393         100.0           96.0
...       ...           ...           ...            ...
1355  ЖЕНСКИЙ           403          96.0          100.0
1370  ЖЕНСКИЙ           396          98.0           93.0
1385  МУЖСКОЙ           396         100.0           98.0
1387  МУЖСКОЙ           397         100.0           93.0
1389  МУЖСКОЙ           404         100.0           96.0

      Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка  \
10                             5           0                 2
16                             0           0                 0
19                             5           0                 3
20                             5           0                 2
37                             0           0                 1
...                          ...         ...               ...
1355                           5           0                 2
1370                           5           0                 2
1385                           0           0                 2
1387                           5           0                 1
1389                           5           0                 3

                 Регион                Тип.насел..пункта Дата.рождения  \
10             Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    13.11.1999
16             Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    15.02.2000
19             Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    10.04.1999
20             Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    05.08.1999
37             Москва г      ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    15.02.2000
...                 ...                              ...           ...
1355  Башкортостан Респ  НАСЕЛЕННЫЙ ПУНКТ СЕЛЬСКОГО ТИПА    13.06.1999
1370     Чувашская Респ         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    28.06.1999
1385    Челябинская обл         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    17.07.1999
1387      Дагестан Респ         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    30.08.1999
1389    Челябинская обл         ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    28.02.2000

      День.рождения  Месяц.рождения Баллы_категория Диапазон_баллов  \
10               13              11             95+             95+
16               15               2             95+             95+
19               10               4           90-95           90-95
20                5               8             95+             95+
37               15               2             95+             95+
...             ...             ...             ...             ...
1355             13               6             95+             95+
1370             28               6             95+             95+
1385             17               7             95+             95+
1387             30               8             95+             95+
1389             28               2             95+             95+

      Средний_балл
10            98.0
16            97.0
19            97.0
20            96.5
37            98.0
...            ...
1355          98.0
1370          95.5
1385          99.0
1387          96.5
1389          98.0

[87 rows x 15 columns]
       Пол  Сумма.баллов  ЕГЭ...матем.  ЕГЭ...рус.яз.  \
0  МУЖСКОЙ           388          90.0           98.0
1  ЖЕНСКИЙ           351          84.0           87.0
2  ЖЕНСКИЙ           355          94.0           91.0
3  ЖЕНСКИЙ           338          76.0           88.0
4  МУЖСКОЙ           349          82.0           93.0

   Аттестат.с.отличием.оценка  ГТО.оценка  Сочинение.оценка  \
0                           5           0                 1
1                           0           0                 2
2                           5           0                 2
3                           5           0                 2
4                           5           0                 2

              Регион            Тип.насел..пункта Дата.рождения  \
0  Красноярский край                        ГОРОД    24.09.1998
1     Чувашская Респ     ЦЕНТР СУБЪЕКТА ФЕДЕРАЦИИ    14.02.1997
2           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    25.03.2000
3           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    19.11.1999
4           Москва г  ГОРОД ФЕДЕРАЛЬНОГО ЗНАЧЕНИЯ    12.12.1999

   День.рождения  Месяц.рождения Баллы_категория Диапазон_баллов  Средний_балл
0             24               9           90-95           90-95          94.0
1             14               2           80-90           80-90          85.5
2             25               3           90-95           90-95          92.5
3             19              11           70-80           70-80          82.0
4             12              12           80-90           80-90          87.5

Добавим группировку (groupby) и агрегирующие функции (agg)
3.1. Вывести средние баллы девочек и мальчиков

In [14]:
print(df.groupby('Пол')['Средний_балл'].mean())

Пол
ЖЕНСКИЙ    87.355150
МУЖСКОЙ    85.278502
Name: Средний_балл, dtype: float64

3.2. вывести средние баллы, имеющих аттестат с отличием и нет

In [15]:
print(df.groupby(df['Аттестат.с.отличием.оценка'] == 5)['Средний_балл'].mean())

Аттестат.с.отличием.оценка
False    84.642604
True     88.055351
Name: Средний_балл, dtype: float64

3.3. Вывести средние баллы по 4 категориям, получающимся при сочетании двух предыдущих пунктов

In [16]:
print(df.groupby(['Пол', df['Аттестат.с.отличием.оценка'] == 5])['Средний_балл'].mean())

Пол      Аттестат.с.отличием.оценка
ЖЕНСКИЙ  False                         85.847087
         True                          88.550000
МУЖСКОЙ  False                         84.254304
         True                          87.599291
Name: Средний_балл, dtype: float64

3.4. Найти число студентов с баллом ЕГЭ по математике, лежащим в заданном диапазоне

In [22]:
min = 80
max = 90
filtered_students = (df['ЕГЭ...матем.'] >= min) & (df['ЕГЭ...матем.'] <= max)
print(filtered_students.sum())

764

3.5. Создать датасет с количествами студентов, баллы которых лежат в заданных диапазонах (<70,
70-80 и т.д.)

In [7]:
bins_detailed = [0, 70, 80, 90, 95, float('inf')]
labels_detailed = ['<70', '70-80', '80-90', '90-95', '95+']

df['Диапазон_баллов'] = pd.cut(df['ЕГЭ...матем.'], bins=bins_detailed, labels=labels_detailed, right=False)
result_detailed = df.groupby('Диапазон_баллов').agg(Количество=('ЕГЭ...матем.', 'count')).reset_index()
result_detailed = result_detailed.sort_values('Диапазон_баллов')

print(result_detailed)

  Диапазон_баллов  Количество
0             <70          37
1           70-80         232
2           80-90         648
3           90-95         290
4             95+         178

C:\Users\HP\AppData\Local\Temp\ipykernel_18872\697817141.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  result_detailed = df.groupby('Диапазон_баллов').agg(Количество=('ЕГЭ...матем.', 'count')).reset_index()